{% extends 'base.html' %}
{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}
{% block body %}
<style>
  body{
    overflow-x: hidden;
  }
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
  @media (min-width:830px) and (max-width: 1536px){
    .mobile{
      display: none;
    }
  }
</style>
<div class='mobile p-5'>
  <div class="row mb-5 text-center text-white">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color:red;"><b>Note✍🏻</b></h1>
      <p class="lead" style="font-weight: 500;color: black;">Please🙏 Open This Site On Laptop/PC 💻 Screen Only</p>
      <p class="lead" style="font-weight: 500;color: black;">Thank You 🤝</p>    
    </div>
</div>
</div>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>🍁Plant Disease
                Detection🍁 </b></h1>
        <p class="lead" style="font-weight: 500;color: black;">This AI Engine Will Help To Detect Disease From Following Fruites And Veggies</p>
    </div>
</div>

<center class="laptop">
    <a href="/index">
    <button class = "bttn-pill bttn-lg btn-success"><b style="color: black;">AI Engine</b></button>
</a>
</center>

<!-- row 1 start -->
<div class="row p-5 laptop">
    <div class="col-sm">
        <div class="p-2 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://thumbs.dreamstime.com/b/red-apple-isolated-clipping-path-19130134.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Apple</p></center>
        </div>
    </div>
    <div class="col-sm">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://img.freepik.com/free-vector/fresh-blueberries-with-water-drops-green-leaves-white-background-realistic-vector-illustration_1284-77363.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Blueberry</p></center>
        </div>
    </div>
    <div class=" col-sm">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://thumbs.dreamstime.com/b/three-cherries-leaf-isolated-white-background-34667253.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Cherry</p></center>
        </div>
    </div>  
</div>
<!-- row 1 end -->

<!-- row 2 start -->
<div class="row p-5 laptop">
    <div class=" col">
      <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

        <img src="https://img.freepik.com/premium-vector/sweet-organic-corncob-3d-illustration-white-background_317810-2331.jpg" width="250" height="250">
        <center><p class="lead" style="font-weight: 500;color: black;">Corn</p></center>
      </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://www.kindpng.com/picc/m/4-45018_black-grapes-png-image-grapes-on-transparent-background.png" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Grape</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/185284489/photo/orange.jpg?s=612x612&w=0&k=20&c=m4EXknC74i2aYWCbjxbzZ6EtRaJkdSJNtekh4m1PspE=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Orange</p></center>
        </div>
    </div>
</div>

<!-- row 2 end -->

<!-- row 3 start -->
<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://media.istockphoto.com/id/818448802/photo/peach-with-leaf-full-depth-of-field.jpg?s=612x612&w=0&k=20&c=pcxWPDxUnYYExzHK8NFBag9NZp5dSs7J5ac_VLgtyJs=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Peach</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://www.ecoponic.in/cdn/shop/products/98de10_0a29e9a2961b4c5593b78626826db301_mv2.webp?v=1659514551" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Pepper Bell</p></center>
        </div>
    </div>
    <div class=" col">
      <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

        <img src="https://www.realsimple.com/thmb/gbkz_CowUBJNJrYDzE4q1C9_BGM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/honeynut-squash-getty-images-1f531f02adf6436e9d2f19c887aa8020.jpg" width="250" height="250">
        <center><p class="lead" style="font-weight: 500;color: black;">Squash</p></center>
      </div>
  </div>
</div>
<!-- row 3 end -->

<!-- row 4 start -->
<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://media.istockphoto.com/id/157430678/photo/three-potatoes.jpg?s=612x612&w=0&k=20&c=qkMoEgcj8ZvYbzDYEJEhbQ57v-nmkHS7e88q8dv7TSA=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Potato</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://www.spotlessfruits.com/cdn/shop/products/SpotlessFruitsIndia-Raspberry_1024x1024.png?v=1621838617" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Raspberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://i.pinimg.com/736x/14/0c/f6/140cf6e21272c5a4bcd939327660d28c.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Soybean</p></center>
        </div>
    </div>
</div>
<!-- row 4 end -->

{% endblock body %}
